.container {
    width: 100vw;
    height: 100px;
    background-color: red;
    padding: var(--CONTAINER_PADDING);
}

@media screen and (max-width: 415px) {
    .container {
        padding: var(--CONTAINER_MOBILE_PADDING);
    }
}