.container {
    margin: 30px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    
}

.text {
    width: 100%;
    max-width: 550px;
    padding: 0;
    margin: 0;
}

.input_container input, label {
    display: block;

}
.input_container {
    margin-top: 10px;
}

.bold {
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 700;
}

.input_container input {
    height: 69px;
    width: 304px;
    border: 1px solid gainsboro;
    padding: 21px;
}

.label {
    font-size: 14px;
    line-height: 17px;
    color: #868686;
}

.button_container {

}

.left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 600px;
}

.button {
    margin-left: 40px;
    margin-bottom: 3px;
}

@media screen and (max-width: 415px) {
    .text {
        width: 90%;
        margin-bottom: 20px;
    }
    .left {
        justify-content: center;
    }
    .input_container input {
        width: calc(100vw - (var(--CONTAINER_MOBILE_PADDING_RIGHT) * 2));
    }
    .button {
        width: calc(100vw - (var(--CONTAINER_MOBILE_PADDING_RIGHT) * 2));
        margin: 20px 0 0 0;
    }

}