.rows {
    margin: 10
}

.container {

}

.button {
    margin-right: 40px;
}

.custom_modal {
    width: 100vw !important;
    max-width: 100vw !important;
    margin: 0px !important;
    border-radius: none !important;
    /* height: 100vh; */
}

.modal_content {
    min-height: 100vh;
    padding: var(--CONTAINER_PADDING);
    margin-top: 30px;  
}
.custom_modal div {
    border-radius: 0px !important;
    border: none;

}

.modal_header {
    margin-bottom: 60px;
}

.button {
    margin-right: 20px;
    margin-bottom: 20px;
}

.previewButton {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

@media screen and (max-width: 415px) {
    .modal_content {
        padding: var(--CONTAINER_MOBILE_PADDING);  
           
    }

    .modal_header {
        margin-bottom: 60px;
    }
}