.large_headline {
    font-family: ITC Franklin Gothic Std Demi;
    /* font-family: 'Franklin Gothic Medium'; */
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 90%;
    letter-spacing: -0.02em;
    color: var(--PRIMARY_TEXT_COLOR);
}

.medium_headline {
    font-family: ITC Franklin Gothic Std Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 90%;
    letter-spacing: -0.02em;
    color: var(--PRIMARY_TEXT_COLOR);
    margin-top:10px;
}

.small_headline {
    font-family: ITC Franklin Gothic Std Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 90%;
    letter-spacing: -0.02em;
    color: var(--PRIMARY_TEXT_COLOR);
}

.extra_small_headline {
    font-family: ITC Franklin Gothic Std Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 90%;
    letter-spacing: -0.02em;
    color: var(--PRIMARY_TEXT_COLOR);
}

.ingress {
    font-family: ITC Franklin Gothic Std Book;
    /* font-family: 'Libre Franklin', sans-serif; */
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: var(--SECONDARY_TEXT_COLOR);
}

.plain_text {
    /* font-family: ITC Franklin Gothic Std Book; */
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 140%;
    color: var(--SECONDARY_TEXT_COLOR);
}

.label {
    font-family: ITC Franklin Gothic Std Demi;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
}


@media screen and (max-width: 415px) {
    .large_headline {
        font-size: 48px;
    }

    .medium_headline {
        
    }

    .small_headline {
        font-size: 24px;
    }
}