.container

.section {
    padding: 20px;
}

.section_mobile {
    
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.header_left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
}

.header_right {

}

.header p, h2 {
    margin: 0;
    min-width: fit-content;
}

.header h2 {
    margin-right: 20px;
}

.header p {
    font-size: 20px;
}

.list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
}

.list_mobile {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: auto;
    -ms-overflow-style: none;
    overflow-x: scroll;
}

.list_mobile::-webkit-scrollbar {
    display: none;
  }