.img {
    height: 496px;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 94px;
}

.text_container {
    margin-left: 29px;
   width: 160px;
}

.text_container p {
    margin-bottom: 0;
}