.container {
    margin: 50px 0 50px 0;
    width: 100%;
    max-width: 500px;
}

.image_container {
    margin-bottom: 10px;
}

.label {
    color: var(--LIGTH_TEXT_COLOR);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.input_label {
    position: relative;
    height: 200px;
    width: 90vw;
    max-width: 516px;
    background-color: white;
    border: 1px dashed #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img {
    height: 200px;
    margin-right: 20px;
}

.error {
    color: red;
}
