@font-face {
    font-family: ITC Franklin Gothic Std;
    src: url(./webapp/assets/fonts/ITCFranklinGothicStd-Med.otf);
  }

@font-face {
    font-family: ITC Franklin Gothic Std Book;
    src: url(./webapp/assets/fonts/ITCFranklinGothicStd-Book.otf);
}

@font-face {
    font-family: ITC Franklin Gothic Std Demi;
    src: url(./webapp/assets/fonts/ITCFranklinGothicStd-Demi.otf);
}

:root {
    --TRANSITION_EASE_OUT: cubic-bezier(0.17, 0.67, 0.3, 1.01);
    --TRANSITION_DURATION: 250ms;
    --PRIMARY_SHADOW: 0px 3px 5px 0px rgba(0,0,0,0.31);
  
    --PRIMARY_GOLD: #c6a230;
    --BUTTON_GOLD: #C29D25;
    --PRIMARY_TEXT_COLOR: #000000;
    --SECONDARY_TEXT_COLOR: #151313;
    --LIGTH_TEXT_COLOR: #707070;

    --MOBILE_WIDTH: 415px;

    --PRIMARY_BORDER_COLOR: #707070;

    --CONTAINER_PADDING: 0 80px 0 80px;
    --CONTAINER_MOBILE_PADDING: 0px 20px 0 20px; 

    --PRIMARY_HEADER_FONT: ITC Franklin Gothic Std Demi;
    --PRIMARY_TEXT_FONT: ITC Franklin Gothic Std Book;
}

/* .designpriset_container {
    padding: var(--CONTAINER_PADDING);
    width: 100vw;
}

@media screen and (max-width: 415px) {
    .designpriset_container {
        padding: var(--CONTAINER_MOBILE_PADDING);
    }   
} */



h1, h2, h3, h4, h5, h6 {
    font-family: ITC Franklin Gothic Std Demi;
    font-style: normal;
    font-weight: 500;
    margin-top: 0;
}

p, span, a {
    font-family: ITC Franklin Gothic Std Book;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 140%;
    color: var(--SECONDARY_TEXT_COLOR);
}

hr {
    border-color: black;
}

body {
    /* max-width: 1400px; */
}