.container {
    width: 297px;
    position: relative;
}

.margin {
    margin: 10px 30px 10px 0px;
}

.img_holder {
    background-color: gainsboro;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 297px;
    width: 297px;
}

.bottom {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.bottom p {
    margin: 0
}

.button_voted {
    background-color: var(--PRIMARY_GOLD) !important;
}

.title {
    font-size: 16px;
}

.text_container {
    max-width: 80%;
}

.overlay {
    display: flex;
    width: 297px;
    height: 297px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);  
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.overlay_button {
    width: 100px;
    border: none;
}

.img_holder:hover + .overlay, .overlay:hover {
    visibility: visible;
    opacity: 1;
}

.company {
    font-style: italic;
    font-size: 16px;
}

@media screen and (max-width: 415px) {
    .title {
        max-width: unset;
        width: 100%;
        font-size: 16px;
        word-break: break-word;
    }
    .company {
        max-width: unset;
        width: 100%;
        font-size: 15px;
        margin-bottom: 7px !important;
        word-break: break-word;
    }
    .container {
        width: unset;
    }

    .margin {
        margin: 10px 30px 10px 0px;
    }

    .img_holder {
        /* width: 276px;
        height: 276px; */
    }

    .overlay {
        /* width: 276px;
        height: 276px; */
    }

    .container_min {
        /* width: 38vw; */
        /* margin: 10px 0px 10px 0px; */
    }

    .overlay_min {
        width: 38vw;
        height: 38vw;
    }

    .img_holder_min {
        /* width: 38vw;
        height: 38vw; */
        width: calc((100vw - (var(--CONTAINER_MOBILE_PADDING_RIGHT) * 3)) / 2);
        height: calc((100vw - (var(--CONTAINER_MOBILE_PADDING_RIGHT) * 3)) / 2);

    }

    .bottom {
        width: calc((100vw - (var(--CONTAINER_MOBILE_PADDING_RIGHT) * 3)) / 2);
    }
}